.field {
  margin-top: 5px;
}

input[type='text'] {
  border: none;
  border-bottom: 1px solid black;
}

input[type='file'] {
  display: block;
  color: lightseagreen;
  font-style: oblique;
}
input[type='file']::file-selector-button {
  display: none;
}

input:focus {
  border: none;
  outline: none;
}

button {
  background-color: transparent;
  border-radius: 5px;
  padding: 5px 10px;
  color: crimson;
  border: 1px solid crimson;
  margin-top: 15px;
}
